apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-0
spec:
  type: NodePort
  selector:
    {{- include "mysql-replication.labels" . | nindent 4 }}
    statefulset.kubernetes.io/pod-name: {{ .Release.Name }}-0
  ports:
    - name: mysql
      protocol: TCP
      port: 3306
      targetPort: 3306
      nodePort: 30061
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-1
spec:
  type: NodePort
  selector:
    {{- include "mysql-replication.labels" . | nindent 4 }}
    statefulset.kubernetes.io/pod-name: {{ .Release.Name }}-1
  ports:
    - name: mysql
      protocol: TCP
      port: 3306
      targetPort: 3306
      nodePort: 30062